*.txt
!requirements.txt
*.pyc
*.csv
*.xlsx
*.png
*.jpeg
*.db
*.pkl
*.dot
*.DS_Store
.idea/
__pycache__/
venv/
scratch.py
scratch/
dist/
data_science_helpers.egg-info/
create_ml_project_structure.sh
index.html
